---
import AuthLayout from "../layouts/AuthLayout.astro";
const isDev = import.meta.env.DEV;
---

<AuthLayout title="Login">
  <form id="login-form">
    <input
      id="identifier"
      type="text"
      placeholder="username"
      autocomplete="username"
    />
    <input
      id="password"
      type="password"
      placeholder="password"
      autocomplete="current-password"
    />
    <button id="submit-btn">→</button>
    <p id="login-error" class="create-error"></p>
    <a href="/signup">sign up</a>
    {isDev && <a href="/start" class="skip">skip →</a>}
  </form>
  <script src="../scripts/login.ts"></script>
  {isDev && <script src="../scripts/skip.ts"></script>}
</AuthLayout>
