---
import AuthLayout from "../layouts/AuthLayout.astro";
const isDev = import.meta.env.DEV;
---

<AuthLayout title="Sign Up">
  <form id="signup-form">
    <input id="email" type="email" placeholder="dhbw-email" required />
    <input id="username" type="text" placeholder="username" required />
    <input id="password" type="password" placeholder="password" required />
    <button type="submit">→</button>
    <p id="signup-error" class="create-error"></p>
    <a href="/login">login</a>
    {isDev && <a href="/start" class="skip">skip →</a>}
  </form>
  <script src="../scripts/signup.ts"></script>
  {isDev && <script src="../scripts/skip.ts"></script>}
</AuthLayout>
